[Unit]
Description=pyRsyncBackup
After=network.target

[Service]
Type=simple
PIDFile=/run/pyRsyncBackup.pid
ExecStart=/usr/bin/python3 /opt/pyRsyncBackup/pyRsyncBackup.py
ExecStop=/bin/kill -15 $MAINPID
PrivateTmp=true
User=backup
Group=backup

[Install]
WantedBy=multi-user.target